@model TyoajanlaskentaSovellus.Models.IndexModelView


@{
    ViewBag.Title = "Home Page1";
}


<div class="borderSize">

    <style>
        .borderSize {
            color: #30639F;
            margin-top: 100px;
        }
    </style>

    <div class="row">
        <div class="col-md-4">

            @* HENKILÖT *@

            <h2>Henkilöiden tiedot<a style="margin-left: 55px" class="btn btn-default" href="/Home/Henkilot"><span class='glyphicon glyphicon-edit'></span></a></h2>

            <div class="border">
                <table class="table table-bordered" id="henkilötListana">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Etunimi</th>
                            <th>Sukunimi</th>

                        </tr>

                    </thead>

                    <tbody>




                        @foreach (var d in Model.Henkilot)
                        {
                        <tr>
                            <td>@d.HenkiloId</td>
                            <td>@d.Etunimi</td>
                            <td>@d.Sukunimi</td>
                        </tr>
                                }




                        </tbody>

                </table>
            </div>



            <hr>

            @* TUNNIT *@

            <h2>Tunnit<a style="margin-left: 210px" class="btn btn-default" href="/Home/Tunnit"><span class='glyphicon glyphicon-edit'></span></a></h2>

            <table class="table table-bordered" id="henkilötListana">
                <thead>
                    <tr>
                        <th>TyöId</th>
                        <th>Työtunniste</th>
                        <th>Kuvaus</th>

                    </tr>
                </thead>
                <tbody>



                    @foreach (var d in Model.Tyot)
                    {
                        <tr>
                          
                            <td>@d.TyoId</td>
                            <td>@d.Tyotunniste)</td>
                            <td>@d.Kuvaus</td>

                          

                        </tr>
                    }

                </tbody>

            </table>


        </div>



        <div class="col-md-4">

            <h2>Työt<a style="margin-left: 240px" class="btn btn-default" href="/Home/Tyot"><span class='glyphicon glyphicon-edit'></span></a></h2>

            <table class="table table-bordered" id="henkilötListana">
                <thead>
                   
                </thead>
                <tbody>
                   
                </tbody>

            </table>

            <hr>

            <h2>Työtaikaraportti<a style="margin-left: 85px" class="btn btn-default" href="/Home/Raportti"><span class='glyphicon glyphicon-edit'></span></a></h2>
            <table class="table table-bordered" id="henkilötListana">
                <thead>
                   
                </thead>
                <tbody>
                   

                </tbody>

            </table>



        </div>

    </div>
</div>
